<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calendar</title>
    <link rel="stylesheet" th:href="@{/css/calendar.css}">
    <div th:replace="admin/header :: header"></div>
</head>

<body>
<div th:replace="admin/header :: navbar"></div>
<div class="notebook">
    <h1 style="color:white">My Google calendar</h1>
    <br /> <br /> <br />

    <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%237986CB&ctz=America%2FLos_Angeles&src=NTk0YjE3MjM2OTg3MWU1NjI3YWI1YTI1MTg0M2NjZGNhMzA4MWIxY2MzMmFlMDhmZWFhODFkY2EwNDE5MmMyMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23009688&color=%230B8043"
            style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>
<div th:replace="admin/footer::footer"></div>
</body>

</html>