<html
        xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
  <div th:replace="admin/header :: header"></div>
</head>
<body>
<div th:replace="admin/header :: navbar"></div>
<div>
  <h2 >My Todos</h2>
  <tr>
    <div align = "left" >
      <h3><a  th:href="@{newtodo}">Add new</a></h3>
    </div>
  </tr>
  <tr>
    <div class="col-sm-5" align = "center">
      <div class="panel-body" align = "center" >
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>ToDo #</th>
            <th>Description</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr  th:each="todo : ${listtodo}">
            <td th:text="${todo.id}">ToDo #</td>
            <td th:text="${todo.name}">Description</td>
            <td th:text="${todo.date}">Date</td>
            <td>
              <a th:href="@{'/edit/' + ${todo.id}}">Edit</a>
            </td>
            <td>
              <a th:href="@{'/delete/' + ${todo.id}}">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

  </tr>

  </tbody>
  </table>
  </div>
<div th:replace="admin/footer::footer"></div>
</body>
</html>