<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/welcomePage.css}">
  <title>Welcome</title>
</head>
<body>


<div class="card-body">
  <header id="showcase">
    <h1>Welcome to my Notebook</h1>
    <br /><br /><br />
    <a th:href="@{/main}" class="button">Read my notes</a>
    <a th:href="@{/login}" class="button">Login to My Organizer</a>
  </header>
</div>

</body>
</html>