<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="notebook/header :: header"></div>
<body>
<div th:replace="notebook/header :: navbar"></div>
<br/> <br/> <br/>
<div class="container" style="background-color: rgba(227, 100, 197, 0.1);">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 th:text="${note.title}"></h2>
            <hr/>
            <!--            <h4 th:text="${note.shortDescription}"></h4>-->
            <!--            <hr/>-->
            <div th:utext="${note.content}">
            </div>
            <!--      adding comment section-->
            <hr/>
            <h2>Comments:</h2>
            <br/>
            <!--            iterating over set of comments in DTO-->
            <div th:each="comment: ${note.comments}">
                <p>On&nbsp;<strong th:text="${#temporals.format(comment.createdOn, 'MMM dd yyyy')}"></strong>
                    <strong th:text="${comment.name}"></strong><span>&nbsp;said:&nbsp;&nbsp;&nbsp;</span><strong
                            th:text="${comment.content}"></strong></p>
                <hr/>
                <br/>
            </div>
            <br/><br/><br/>
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Leave your comment</h3>
                    <h5 class="text-center">I would love to hear your opinion!</h5>
                </div>
                <div class="card-body">
                    <form role="form" method="post"
                          th:action="@{/{noteUrl}/comments(noteUrl=${note.url})}"
                          th:object="${comment}">
                        <!--                when this form will be submitted it will binds to comment ofject-->
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <input class="form-control"
                                       type="text"
                                       id="name"
                                       name="name"
                                       placeholder="Enter name"
                                       th:field="*{name}"
                                />
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <input class="form-control"
                                       type="text"
                                       id="email"
                                       name="email"
                                       placeholder="Enter email"
                                       th:field="*{email}"
                                />
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <textarea class="form-control"
                                          id="content"
                                          name="content"
                                          placeholder="Enter comment"
                                          rows="4"
                                          th:field="*{content}"
                                >
                                </textarea>
                                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <button class="bnt btn-primary"
                                        type="submit">Add comment
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!--      comment section end-->

    </div>
    <br/> <br/> <br/> <br/>
</div>
<div th:replace="notebook/footer :: footer"></div>
</body>
</html>